.nav-container {
  background: #222;
  padding: 1rem;
}
.a-nav {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}