
.navbar {
  background: #222 !important;
  padding: 1rem;
  border-bottom: 2px solid #444;
}

.Nav.Link {
  color: #fff !important;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}

.Nav.Link:hover {
  color: #ffd700 !important; 
}

.me-auto {
  display: flex;
  gap: 1rem;
}

.cartwidget {
  margin-left: 1.5rem;
}
.logo {
  height: 7em;
  padding: 0.5em 1em;
}